* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--text-color);
}

:root {
  --highlight-color: #ff9422;
  --text-color: #fff;
  --bg-color: #050402;
}

@font-face {
  font-family: "Oxanium";
  src: url("../fonts/Oxanium/Oxanium-VariableFont_wght.ttf") format("truetype");
}

body {
  background-color: var(--bg-color);
  overflow: hidden;
}

.bg-image {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.nav-bar {
  position: fixed;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  height: 74px;
  width: 100%;
  background-color: var(--bg-color);
}

.logo {
  display: flex;
  flex-direction: row;
  font-family: "Oxanium";
  font: weight 800px;
  font-size: 32px;
  padding-top: 10px;
  padding-left: 128px;
  gap: 8px;
}

.heading {
  color: var(--highlight-color);
}

.sub-heading {
  padding-top: 18px;
  color: var(--text-color);
  font-size: 18px;
}

.navbar-link {
  display: flex;
  padding-top: 28px;
  gap: 64px;
  font-family: "Oxanium";
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  padding-right: 128px;
}

.navbar-link-home {
  text-decoration: none;
  color: var(--highlight-color);
}

.navbar-link-competition {
  color: var(--text-color);
  text-decoration: none;
}

.navbar-link-curricula {
  color: var(--text-color);
  text-decoration: none;
}
