@font-face {
  font-family: "Oxanium";
  src: url("../fonts/Oxanium/Oxanium-VariableFont_wght.ttf") format("truetype");
}

:root {
  --highlight-color: #ff9422;
  --text-color: #fff;
  --bg-color: #050402;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--text-color);
  font-family: "Oxanium";
  text-decoration: none;
}

html {
  font-size: 16px;
}

main {
  display: flex;
  flex-direction: column;
  padding: 3.75rem 10% 3.75rem;
  width: 100%;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--bg-color);
  overflow-x: hidden;
}

.bg-image {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.nav-bar {
  display: flex;
  /* position: fixed;
  top: 0; */
  justify-content: space-between;
  flex-direction: row;
  max-height: 74px;
  width: 100%;
  padding: 10px 10% 0;
  z-index: 1;
}

.logo {
  display: flex;
  flex-direction: row;
  font-weight: 800;
  font-size: 2rem;
  gap: 8px;
  align-items: center;
}

.heading,
nav a.active {
  color: var(--highlight-color);
}

nav a:hover {
  color: var(--highlight-color);
}

.bottom-nav a.active p {
  color: #f48128;
}

.sub-heading {
  font-size: 1.125rem;
}

nav{
  display: flex;
  align-items: center;
  gap: 4rem;
  font-size: 1.125rem;
  font-weight: 700;
  text-transform: uppercase;
}

.bottom-nav {
  display: none;
}

@media screen and (max-width: 1300px) {
  html {
    font-size: 15px;
  }
}

@media screen and (max-width: 1200px) {
  html {
    font-size: 14px;
  }

  .main__container-events {
    grid-template-columns: repeat(1, 1fr);
    row-gap: 4rem;
  }

  .main__event-container--completed {
    max-width: none;
    width: inherit;
    height: 120%;
  }

  .main__match-info-container {
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 0 20%;
  }
  .main__event-info-container {
    justify-content: space-between;
    align-items: center;
    height: 20%;
  }
}

@media screen and (max-width: 1100px) {
  html {
    font-size: 13px;
  }
}

@media screen and (max-width: 900px) {
  html {
    font-size: 12px;
  }

  .main__match-info-container {
    padding: 0 10%;
  }

  .nav-bar {
    padding: 10px 2rem 0;
    position: relative;
  }

  main {
    padding: 3.75rem 2rem 3.75rem;
  }
}

@media screen and (max-width: 700px) {
  main {
    padding-bottom: 100px;
  }

  nav {
    display: none;
  }

  .bottom-nav {
    display: flex;
    /* justify-self: flex-end; */
    bottom: 0;
    position: fixed;
    width: 100%;
    justify-content: space-around;
    /* margin-top: 20px; */
    padding: 1rem;
    background: rgba(82, 82, 82, 0.23);
    backdrop-filter: blur(10px);
  }

  .bottom-nav a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    text-transform: uppercase;
  }
}

@media screen and (max-width: 600px) {
  .main__match-info-container {
    padding: 0 5%;
  }
}

@media screen and (max-width: 500px) {
  html {
    font-size: 11px;
  }
}

@media screen and (max-width: 450px) {
  html {
    font-size: 10px;
  }
}
