* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Oxanium";
  src: url("../public/fonts/Oxanium/Oxanium-VariableFont_wght.ttf")
    format("truetype");
}
body {
  background-color: #050402;
  overflow: hidden;
}
.bg-image {
  position: absolute;
  top: 0;
  right: 0;
  left: -100px;
  width: 120%;
  height: 120%;
  object-fit: cover;
}
.nav-bar {
  position: fixed;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  height: 74px;
  width: 100%;
  background-color: #050402;
}
.logo {
  display: flex;
  flex-direction: row;
  font-family: "Oxanium";
  font: weight 800px;
  font-size: 32px;
  padding-top: 10px;
  padding-left: 128px;
  gap: 8px;
}
.heading {
  color: #ff9422;
}
.sub-heading {
  padding-top: 18px;
  color: white;
  font-size: 18px;
}
.navbar-link {
  display: flex;
  padding-top: 28px;
  gap: 64px;
  font-family: "Oxanium";
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  padding-right: 128px;
}
.navbar-link-home {
  text-decoration: none;
  color: #ff9422;
}
.navbar-link-competition {
  color: white;
  text-decoration: none;
}
.navbar-link-curricula {
  color: white;
  text-decoration: none;
}
