.main__leaderboards{
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 20px;
    height: 324px;
    justify-content: space-between;
}

.main__ranking{
    display: flex;
    border-radius: 16px;
    border: 1px solid var(--Duhinas-Colors-cict-brand-accent, #FF9422);
    background: rgba(19, 18, 18, 0.53);
    backdrop-filter: blur(1px);
    /* min-width: 700px; */
    width: 100% ;
    padding: 20px;
}

.main__subheading{
    margin: 10px;
}

.main__progress{
    /* padding: 4px; */
    /* margin: 10px; */
    max-width: 426.949px;
    width: 100%;
}

.progress__points{
    border: 1px solid #FF9422;
    border-radius: 16px;
    width: 100%;
    height: 97px;
    display: flex;
    align-items: center;
    gap: 30px;
    justify-content: space-between;
    fill: rgba(19, 18, 18, 0.53);
    stroke-width: 1px;
    stroke: var(--Duhinas-Colors-cict-brand-accent, #FF9422);
    backdrop-filter: blur(1px);
    margin-bottom:  18px;
    padding: 40px 20px 20px;
}

.points__total{
    color: #F48128;
    text-align: center;
    font-size: 48px;
    font-weight: 800;
    line-height: 110%; 
    /* margin: 10px; */
    display: inline-flex;
}

.points__total span {
    text-transform: uppercase;
    color: #F48128;
    font-size: 20px;
    font-weight: 600;
    margin: 12px 8px 0;
}


.points__text{
    font-size: 14px;
    font-weight: 600;
    line-height: 150%; /* 21px */
    letter-spacing: 0.5px;
}

.progress__remaining{
    height: 209px;
    display: flex;
    border-radius: 16px;
    padding: 20px 10px;
    border: 1px solid var(--Duhinas-Colors-cict-brand-accent, #FF9422);
    background: rgba(19, 18, 18, 0.53);
    backdrop-filter: blur(1px);
    margin-bottom: 50px;
}

.college__fundays__progress{
    /* margin: 10px; */
    font-size: 14px;
    font-weight: 400;
    line-height: 150%; /* 21px */
}

.remaining__percentage,
.remaining__days {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.remaining__percentage{
    justify-content: flex-start;
}



.remaining__days span{
    color: #F48128;
    text-align: center;
    font-size: 128px;
    font-weight: 800;
    line-height: 110%;    
}